{
  "openapi": "3.1.0",
  "info": {
    "title": "Quidkey API",
    "version": "1.0.0",
    "description": "API documentation for Quidkey Core Services"
  },
  "servers": [
    {
      "url": "https://core.quidkey.com",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {
      "shared_BaseResponse": {
        "title": "Response Base",
        "description": "Base schema for API responses",
        "additionalProperties": true,
        "type": "object",
        "required": [
          "success"
        ],
        "properties": {
          "success": {
            "description": "Indicates if the request was successful",
            "examples": [
              true
            ],
            "type": "boolean"
          }
        }
      },
      "shared_Error400": {
        "title": "Bad Request Error",
        "description": "400 Bad Request Error Response",
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "description": "Always false for error responses",
            "examples": [
              false
            ],
            "const": false,
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "allOf": [
                  {
                    "description": "Error code for the specific error type",
                    "examples": [
                      "INVALID_INPUT"
                    ],
                    "type": "string"
                  },
                  {
                    "description": "Error code for the specific error type",
                    "examples": [
                      "VALIDATION_ERROR"
                    ],
                    "type": "string"
                  }
                ]
              },
              "message": {
                "description": "Human-readable error message",
                "examples": [
                  "Invalid input provided"
                ],
                "type": "string"
              },
              "metadata": {
                "additionalProperties": true,
                "description": "Additional error context. For VALIDATION_ERROR, includes a per-field `errors` array.",
                "type": "object",
                "properties": {
                  "errors": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "field",
                        "message"
                      ],
                      "properties": {
                        "field": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "shared_Error401": {
        "title": "Unauthorized Error",
        "description": "401 Unauthorized Error Response",
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "description": "Always false for error responses",
            "examples": [
              false
            ],
            "const": false,
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "allOf": [
                  {
                    "description": "Error code for the specific error type",
                    "examples": [
                      "INVALID_INPUT"
                    ],
                    "type": "string"
                  },
                  {
                    "const": "UNAUTHORIZED",
                    "type": "string"
                  }
                ]
              },
              "message": {
                "description": "Human-readable error message",
                "examples": [
                  "Invalid input provided"
                ],
                "type": "string"
              }
            }
          }
        }
      },
      "shared_Error403": {
        "title": "Forbidden Error",
        "description": "403 Forbidden Error Response",
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "description": "Always false for error responses",
            "examples": [
              false
            ],
            "const": false,
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "allOf": [
                  {
                    "description": "Error code for the specific error type",
                    "examples": [
                      "INVALID_INPUT"
                    ],
                    "type": "string"
                  },
                  {
                    "description": "Error code for forbidden access",
                    "examples": [
                      "FORBIDDEN_CREATE",
                      "FORBIDDEN_VIEW"
                    ],
                    "type": "string"
                  }
                ]
              },
              "message": {
                "description": "Human-readable error message",
                "examples": [
                  "Invalid input provided"
                ],
                "type": "string"
              }
            }
          }
        }
      },
      "shared_Error404": {
        "title": "Not Found Error",
        "description": "404 Not Found Error Response",
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "description": "Always false for error responses",
            "examples": [
              false
            ],
            "const": false,
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "allOf": [
                  {
                    "description": "Error code for the specific error type",
                    "examples": [
                      "INVALID_INPUT"
                    ],
                    "type": "string"
                  },
                  {
                    "description": "Error code for resource not found",
                    "examples": [
                      "MERCHANT_NOT_FOUND",
                      "BANK_NOT_FOUND"
                    ],
                    "type": "string"
                  }
                ]
              },
              "message": {
                "description": "Human-readable error message",
                "examples": [
                  "Invalid input provided"
                ],
                "type": "string"
              }
            }
          }
        }
      },
      "shared_Error409": {
        "title": "Conflict Error",
        "description": "409 Conflict Error Response",
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "description": "Always false for error responses",
            "examples": [
              false
            ],
            "const": false,
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "allOf": [
                  {
                    "description": "Error code for the specific error type",
                    "examples": [
                      "INVALID_INPUT"
                    ],
                    "type": "string"
                  },
                  {
                    "description": "Error code for conflict errors",
                    "examples": [
                      "BATCH_ALREADY_PROCESSING",
                      "BATCH_ALREADY_COMPLETED"
                    ],
                    "type": "string"
                  }
                ]
              },
              "message": {
                "description": "Human-readable error message",
                "examples": [
                  "Invalid input provided"
                ],
                "type": "string"
              }
            }
          }
        }
      },
      "shared_Error410": {
        "title": "Gone Error",
        "description": "410 Gone Error Response — resource has expired or been revoked",
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "description": "Always false for error responses",
            "examples": [
              false
            ],
            "const": false,
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "allOf": [
                  {
                    "description": "Error code for the specific error type",
                    "examples": [
                      "INVALID_INPUT"
                    ],
                    "type": "string"
                  },
                  {
                    "description": "Error code for gone/expired resources",
                    "examples": [
                      "PAYMENT_LINK_EXPIRED",
                      "PAYMENT_LINK_NOT_ACTIVE",
                      "INVITATION_GONE"
                    ],
                    "type": "string"
                  }
                ]
              },
              "message": {
                "description": "Human-readable error message",
                "examples": [
                  "Invalid input provided"
                ],
                "type": "string"
              }
            }
          }
        }
      },
      "shared_Error422": {
        "title": "Unprocessable Entity Error",
        "description": "422 Unprocessable Entity Error Response — request is valid but cannot be processed due to missing prerequisites",
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "description": "Always false for error responses",
            "examples": [
              false
            ],
            "const": false,
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "allOf": [
                  {
                    "description": "Error code for the specific error type",
                    "examples": [
                      "INVALID_INPUT"
                    ],
                    "type": "string"
                  },
                  {
                    "description": "Error code for unprocessable entity errors",
                    "examples": [
                      "MISSING_CONVERTED_AMOUNT"
                    ],
                    "type": "string"
                  }
                ]
              },
              "message": {
                "description": "Human-readable error message",
                "examples": [
                  "Invalid input provided"
                ],
                "type": "string"
              }
            }
          }
        }
      },
      "shared_Error502": {
        "title": "Bad Gateway Error",
        "description": "502 Bad Gateway Error Response — upstream service returned an error",
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "description": "Always false for error responses",
            "examples": [
              false
            ],
            "const": false,
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "allOf": [
                  {
                    "description": "Error code for the specific error type",
                    "examples": [
                      "INVALID_INPUT"
                    ],
                    "type": "string"
                  },
                  {
                    "description": "Error code for upstream service errors",
                    "examples": [
                      "TM_API_ERROR"
                    ],
                    "type": "string"
                  }
                ]
              },
              "message": {
                "description": "Human-readable error message",
                "examples": [
                  "Invalid input provided"
                ],
                "type": "string"
              }
            }
          }
        }
      },
      "shared_Error500": {
        "title": "Internal Server Error",
        "description": "500 Internal Server Error Response",
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "description": "Always false for error responses",
            "examples": [
              false
            ],
            "const": false,
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "allOf": [
                  {
                    "description": "Error code for the specific error type",
                    "examples": [
                      "INVALID_INPUT"
                    ],
                    "type": "string"
                  },
                  {
                    "description": "Error code for server errors",
                    "examples": [
                      "MISSING_DEFAULT_CURRENCY",
                      "INTERNAL_SERVER_ERROR"
                    ],
                    "type": "string"
                  }
                ]
              },
              "message": {
                "description": "Human-readable error message",
                "examples": [
                  "Invalid input provided"
                ],
                "type": "string"
              }
            }
          }
        }
      },
      "shared_Address": {
        "title": "Address",
        "description": "A physical address",
        "additionalProperties": false,
        "type": "object",
        "required": [
          "address_line1",
          "city",
          "country",
          "postal_code"
        ],
        "properties": {
          "address_line1": {
            "description": "The first line of the address",
            "examples": [
              "12 West Common Drive"
            ],
            "type": "string"
          },
          "address_line2": {
            "description": "The second line of the address",
            "examples": [
              "Flat 1"
            ],
            "type": "string"
          },
          "apartment": {
            "description": "The apartment, unit, or suite number",
            "examples": [
              "Apt 5B",
              "Unit 12",
              "Suite 200"
            ],
            "type": "string"
          },
          "city": {
            "description": "The city",
            "examples": [
              "London"
            ],
            "type": "string"
          },
          "state_province": {
            "description": "The state or province",
            "examples": [
              "Greater London"
            ],
            "type": "string"
          },
          "country": {
            "pattern": "^[A-Za-z]{2}$",
            "minLength": 2,
            "maxLength": 2,
            "description": "ISO 3166-1 alpha-2 country code",
            "examples": [
              "GB",
              "US",
              "FR",
              "DE"
            ],
            "type": "string"
          },
          "postal_code": {
            "description": "The postal code",
            "examples": [
              "SE1 1AA"
            ],
            "type": "string"
          },
          "company_name": {
            "description": "The company name (if applicable)",
            "examples": [
              "Acme Ltd"
            ],
            "type": "string"
          }
        }
      },
      "auth_TokenRequest": {
        "type": "object",
        "discriminator": {
          "propertyName": "grant_type"
        },
        "title": "Token Grant Request",
        "description": "Request token with given grant type - client_credentials, magic_code, google_id_token, or refresh_token",
        "oneOf": [
          {
            "additionalProperties": false,
            "type": "object",
            "required": [
              "grant_type",
              "client_id",
              "client_secret"
            ],
            "properties": {
              "grant_type": {
                "const": "client_credentials",
                "type": "string"
              },
              "client_id": {
                "format": "uuid",
                "description": "The client ID of the partner or merchant",
                "examples": [
                  "547544c3-eeac-492e-8df9-5a52ca4e6bdf"
                ],
                "type": "string"
              },
              "client_secret": {
                "description": "The client secret of the partner or merchant",
                "examples": [
                  "b717adcac3f26e8034574021fa647cd7d4edd67b615046df387f6712c3601048"
                ],
                "type": "string"
              }
            }
          },
          {
            "additionalProperties": false,
            "type": "object",
            "required": [
              "grant_type",
              "email"
            ],
            "properties": {
              "grant_type": {
                "const": "magic_code",
                "type": "string"
              },
              "email": {
                "format": "email",
                "description": "Admin email address",
                "examples": [
                  "admin@example.com"
                ],
                "type": "string"
              },
              "code": {
                "minLength": 6,
                "maxLength": 6,
                "description": "The 6-character verification code sent to email",
                "examples": [
                  "abc123"
                ],
                "type": "string"
              },
              "ctx": {
                "pattern": "^(global|(partner|merchant):[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$",
                "description": "Optional context: \"global\", \"partner:uuid\", or \"merchant:uuid\"",
                "examples": [
                  "partner:550e8400-e29b-41d4-a716-446655440000"
                ],
                "type": "string"
              }
            }
          },
          {
            "additionalProperties": false,
            "type": "object",
            "required": [
              "grant_type",
              "id_token"
            ],
            "properties": {
              "grant_type": {
                "const": "google_id_token",
                "type": "string"
              },
              "id_token": {
                "description": "Google ID token obtained from Google Sign-In",
                "examples": [
                  "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
                ],
                "type": "string"
              },
              "ctx": {
                "pattern": "^(global|(partner|merchant):[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$",
                "description": "Optional context: \"global\", \"partner:uuid\", or \"merchant:uuid\"",
                "examples": [
                  "partner:550e8400-e29b-41d4-a716-446655440000"
                ],
                "type": "string"
              }
            }
          },
          {
            "additionalProperties": false,
            "type": "object",
            "required": [
              "grant_type",
              "refresh_token"
            ],
            "properties": {
              "grant_type": {
                "const": "refresh_token",
                "type": "string"
              },
              "refresh_token": {
                "description": "The refresh token obtained from a previous token request",
                "examples": [
                  "eyJhbGciOiJIUzI1NiIs..."
                ],
                "type": "string"
              },
              "ctx": {
                "pattern": "^(global|(partner|merchant):[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$",
                "description": "Optional context to switch to: \"global\", \"partner:uuid\", or \"merchant:uuid\".",
                "examples": [
                  "partner:550e8400-e29b-41d4-a716-446655440000"
                ],
                "type": "string"
              }
            }
          }
        ]
      },
      "auth_TokenData": {
        "additionalProperties": false,
        "type": "object",
        "required": [
          "access_token",
          "token_type",
          "expires_in"
        ],
        "properties": {
          "access_token": {
            "description": "The access token to be used for authenticated requests",
            "examples": [
              "example_access_token_xyz789"
            ],
            "type": "string"
          },
          "refresh_token": {
            "description": "The refresh token used to obtain a new access token. Returned only when a token is first issued (client_credentials, magic_code, google_id_token grants); the refresh grant does not return a new refresh token, so the original is reused until it expires.",
            "examples": [
              "example_refresh_token_abc123"
            ],
            "type": "string"
          },
          "token_type": {
            "description": "The type of token issued",
            "examples": [
              "Bearer"
            ],
            "const": "Bearer",
            "type": "string"
          },
          "expires_in": {
            "description": "The number of seconds until the access token expires",
            "examples": [
              900
            ],
            "type": "number"
          }
        }
      },
      "auth_TokenResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "description": "Indicates if the request was successful",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "data": {
            "additionalProperties": false,
            "type": "object",
            "required": [
              "access_token",
              "token_type",
              "expires_in"
            ],
            "properties": {
              "access_token": {
                "description": "The access token to be used for authenticated requests",
                "examples": [
                  "example_access_token_xyz789"
                ],
                "type": "string"
              },
              "refresh_token": {
                "description": "The refresh token used to obtain a new access token. Returned only when a token is first issued (client_credentials, magic_code, google_id_token grants); the refresh grant does not return a new refresh token, so the original is reused until it expires.",
                "examples": [
                  "example_refresh_token_abc123"
                ],
                "type": "string"
              },
              "token_type": {
                "description": "The type of token issued",
                "examples": [
                  "Bearer"
                ],
                "const": "Bearer",
                "type": "string"
              },
              "expires_in": {
                "description": "The number of seconds until the access token expires",
                "examples": [
                  900
                ],
                "type": "number"
              }
            }
          }
        }
      },
      "auth_Challenge": {
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "type",
          "expires_at"
        ],
        "properties": {
          "id": {
            "description": "Identifier for the challenge (typically the email address)",
            "examples": [
              "admin@example.com"
            ],
            "type": "string"
          },
          "type": {
            "description": "The type of challenge issued",
            "examples": [
              "email_code"
            ],
            "const": "email_code",
            "type": "string"
          },
          "expires_at": {
            "format": "date-time",
            "description": "ISO 8601 timestamp when the challenge expires",
            "examples": [
              "2025-12-15T15:30:00.000Z"
            ],
            "type": "string"
          }
        }
      },
      "auth_ChallengeResponse": {
        "additionalProperties": false,
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "description": "Always false for challenge responses",
            "examples": [
              false
            ],
            "const": false,
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "challenge"
            ],
            "properties": {
              "code": {
                "description": "Error code indicating a challenge must be completed",
                "examples": [
                  "CHALLENGE_REQUIRED"
                ],
                "const": "CHALLENGE_REQUIRED",
                "type": "string"
              },
              "message": {
                "description": "Human-readable message",
                "examples": [
                  "Verification code sent to email"
                ],
                "type": "string"
              },
              "challenge": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "id",
                  "type",
                  "expires_at"
                ],
                "properties": {
                  "id": {
                    "description": "Identifier for the challenge (typically the email address)",
                    "examples": [
                      "admin@example.com"
                    ],
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of challenge issued",
                    "examples": [
                      "email_code"
                    ],
                    "const": "email_code",
                    "type": "string"
                  },
                  "expires_at": {
                    "format": "date-time",
                    "description": "ISO 8601 timestamp when the challenge expires",
                    "examples": [
                      "2025-12-15T15:30:00.000Z"
                    ],
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "auth_Error401OrChallenge": {
        "oneOf": [
          {
            "title": "Unauthorized Error",
            "description": "401 Unauthorized Error Response",
            "type": "object",
            "required": [
              "success",
              "error"
            ],
            "properties": {
              "success": {
                "description": "Always false for error responses",
                "examples": [
                  false
                ],
                "const": false,
                "type": "boolean"
              },
              "error": {
                "type": "object",
                "required": [
                  "code",
                  "message"
                ],
                "properties": {
                  "code": {
                    "allOf": [
                      {
                        "description": "Error code for the specific error type",
                        "examples": [
                          "INVALID_INPUT"
                        ],
                        "type": "string"
                      },
                      {
                        "const": "UNAUTHORIZED",
                        "type": "string"
                      }
                    ]
                  },
                  "message": {
                    "description": "Human-readable error message",
                    "examples": [
                      "Invalid input provided"
                    ],
                    "type": "string"
                  }
                }
              }
            }
          },
          {
            "additionalProperties": false,
            "type": "object",
            "required": [
              "success",
              "error"
            ],
            "properties": {
              "success": {
                "description": "Always false for challenge responses",
                "examples": [
                  false
                ],
                "const": false,
                "type": "boolean"
              },
              "error": {
                "type": "object",
                "required": [
                  "code",
                  "message",
                  "challenge"
                ],
                "properties": {
                  "code": {
                    "description": "Error code indicating a challenge must be completed",
                    "examples": [
                      "CHALLENGE_REQUIRED"
                    ],
                    "const": "CHALLENGE_REQUIRED",
                    "type": "string"
                  },
                  "message": {
                    "description": "Human-readable message",
                    "examples": [
                      "Verification code sent to email"
                    ],
                    "type": "string"
                  },
                  "challenge": {
                    "additionalProperties": false,
                    "type": "object",
                    "required": [
                      "id",
                      "type",
                      "expires_at"
                    ],
                    "properties": {
                      "id": {
                        "description": "Identifier for the challenge (typically the email address)",
                        "examples": [
                          "admin@example.com"
                        ],
                        "type": "string"
                      },
                      "type": {
                        "description": "The type of challenge issued",
                        "examples": [
                          "email_code"
                        ],
                        "const": "email_code",
                        "type": "string"
                      },
                      "expires_at": {
                        "format": "date-time",
                        "description": "ISO 8601 timestamp when the challenge expires",
                        "examples": [
                          "2025-12-15T15:30:00.000Z"
                        ],
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "auth_RefreshTokenRequest": {
        "additionalProperties": false,
        "type": "object",
        "required": [
          "refresh_token"
        ],
        "properties": {
          "refresh_token": {
            "description": "The refresh token obtained from a previous token request",
            "examples": [
              "refresh_token_abc123"
            ],
            "type": "string"
          }
        }
      },
      "auth_HealthcheckRequest": {
        "additionalProperties": false,
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "description": "The token to check",
            "examples": [
              "example_token_xyz123"
            ],
            "type": "string"
          }
        }
      },
      "auth_HealthcheckData": {
        "additionalProperties": false,
        "type": "object",
        "required": [
          "token",
          "isExpired"
        ],
        "properties": {
          "token": {
            "description": "The token that was checked",
            "examples": [
              "example_token_xyz123"
            ],
            "type": "string"
          },
          "isExpired": {
            "description": "Whether the token has expired",
            "examples": [
              false
            ],
            "type": "boolean"
          }
        }
      },
      "auth_HealthcheckResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "description": "Indicates if the request was successful",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "data": {
            "additionalProperties": false,
            "type": "object",
            "required": [
              "token",
              "isExpired"
            ],
            "properties": {
              "token": {
                "description": "The token that was checked",
                "examples": [
                  "example_token_xyz123"
                ],
                "type": "string"
              },
              "isExpired": {
                "description": "Whether the token has expired",
                "examples": [
                  false
                ],
                "type": "boolean"
              }
            }
          }
        }
      },
      "auth_RegisterRequest": {
        "title": "Register Request",
        "description": "Registration request body.",
        "additionalProperties": false,
        "type": "object",
        "required": [
          "email",
          "first_name",
          "last_name"
        ],
        "properties": {
          "email": {
            "format": "email",
            "description": "Email address",
            "examples": [
              "user@example.com"
            ],
            "type": "string"
          },
          "first_name": {
            "minLength": 1,
            "maxLength": 100,
            "description": "User's first name",
            "examples": [
              "John"
            ],
            "type": "string"
          },
          "last_name": {
            "minLength": 1,
            "maxLength": 100,
            "description": "User's last name",
            "examples": [
              "Doe"
            ],
            "type": "string"
          }
        }
      },
      "authMe_Context": {
        "title": "Auth Me Context",
        "description": "Current operating context of the token",
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "description": "Context scope type",
            "examples": [
              "partner"
            ],
            "anyOf": [
              {
                "const": "global",
                "type": "string"
              },
              {
                "const": "partner",
                "type": "string"
              },
              {
                "const": "merchant",
                "type": "string"
              }
            ]
          },
          "id": {
            "format": "uuid",
            "description": "Scope entity ID (absent for global context)",
            "examples": [
              "550e8400-e29b-41d4-a716-446655440000"
            ],
            "type": "string"
          },
          "name": {
            "description": "Scope entity display name (absent for global context)",
            "examples": [
              "Acme Corp"
            ],
            "type": "string"
          },
          "branding": {
            "title": "Branding Info",
            "additionalProperties": false,
            "type": "object",
            "required": [
              "logo_url",
              "icon_url",
              "primary_color",
              "secondary_color"
            ],
            "properties": {
              "logo_url": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "icon_url": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "primary_color": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "secondary_color": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          }
        }
      },
      "authMe_AvailableContext": {
        "title": "Auth Me Available Context",
        "description": "A context the user can switch to, with their roles in that scope",
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type",
          "roles"
        ],
        "properties": {
          "type": {
            "description": "Context scope type",
            "examples": [
              "partner"
            ],
            "anyOf": [
              {
                "const": "global",
                "type": "string"
              },
              {
                "const": "partner",
                "type": "string"
              },
              {
                "const": "merchant",
                "type": "string"
              }
            ]
          },
          "id": {
            "format": "uuid",
            "description": "Scope entity ID (absent for global context)",
            "examples": [
              "550e8400-e29b-41d4-a716-446655440000"
            ],
            "type": "string"
          },
          "name": {
            "description": "Scope entity display name (absent for global context)",
            "examples": [
              "Acme Corp"
            ],
            "type": "string"
          },
          "roles": {
            "description": "All roles the user has in this context",
            "type": "array",
            "items": {
              "description": "Role name (without scope prefix)",
              "examples": [
                "admin"
              ],
              "type": "string"
            }
          }
        }
      },
      "authMe_Data": {
        "title": "Auth Me Data",
        "description": "Current user identity, context, available contexts, and effective permissions",
        "additionalProperties": false,
        "type": "object",
        "required": [
          "subject_type",
          "id",
          "current_context",
          "available_contexts",
          "effective_roles",
          "permissions"
        ],
        "properties": {
          "subject_type": {
            "description": "Type of authenticated subject",
            "examples": [
              "user"
            ],
            "anyOf": [
              {
                "const": "user",
                "type": "string"
              },
              {
                "const": "client",
                "type": "string"
              }
            ]
          },
          "id": {
            "format": "uuid",
            "description": "Subject ID (user ID or client entity ID)",
            "examples": [
              "550e8400-e29b-41d4-a716-446655440000"
            ],
            "type": "string"
          },
          "email": {
            "format": "email",
            "description": "User email address (present for user subjects)",
            "examples": [
              "user@example.com"
            ],
            "type": "string"
          },
          "first_name": {
            "description": "First name of the user",
            "examples": [
              "John"
            ],
            "type": "string"
          },
          "last_name": {
            "description": "Last name of the user",
            "examples": [
              "Doe"
            ],
            "type": "string"
          },
          "current_context": {
            "description": "Current operating context. Null when the user has no roles.",
            "anyOf": [
              {
                "title": "Auth Me Context",
                "description": "Current operating context of the token",
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "description": "Context scope type",
                    "examples": [
                      "partner"
                    ],
                    "anyOf": [
                      {
                        "const": "global",
                        "type": "string"
                      },
                      {
                        "const": "partner",
                        "type": "string"
                      },
                      {
                        "const": "merchant",
                        "type": "string"
                      }
                    ]
                  },
                  "id": {
                    "format": "uuid",
                    "description": "Scope entity ID (absent for global context)",
                    "examples": [
                      "550e8400-e29b-41d4-a716-446655440000"
                    ],
                    "type": "string"
                  },
                  "name": {
                    "description": "Scope entity display name (absent for global context)",
                    "examples": [
                      "Acme Corp"
                    ],
                    "type": "string"
                  },
                  "branding": {
                    "title": "Branding Info",
                    "additionalProperties": false,
                    "type": "object",
                    "required": [
                      "logo_url",
                      "icon_url",
                      "primary_color",
                      "secondary_color"
                    ],
                    "properties": {
                      "logo_url": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "icon_url": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "primary_color": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "secondary_color": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    }
                  }
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "available_contexts": {
            "description": "All contexts the user can switch to",
            "type": "array",
            "items": {
              "title": "Auth Me Available Context",
              "description": "A context the user can switch to, with their roles in that scope",
              "additionalProperties": false,
              "type": "object",
              "required": [
                "type",
                "roles"
              ],
              "properties": {
                "type": {
                  "description": "Context scope type",
                  "examples": [
                    "partner"
                  ],
                  "anyOf": [
                    {
                      "const": "global",
                      "type": "string"
                    },
                    {
                      "const": "partner",
                      "type": "string"
                    },
                    {
                      "const": "merchant",
                      "type": "string"
                    }
                  ]
                },
                "id": {
                  "format": "uuid",
                  "description": "Scope entity ID (absent for global context)",
                  "examples": [
                    "550e8400-e29b-41d4-a716-446655440000"
                  ],
                  "type": "string"
                },
                "name": {
                  "description": "Scope entity display name (absent for global context)",
                  "examples": [
                    "Acme Corp"
                  ],
                  "type": "string"
                },
                "roles": {
                  "description": "All roles the user has in this context",
                  "type": "array",
                  "items": {
                    "description": "Role name (without scope prefix)",
                    "examples": [
                      "admin"
                    ],
                    "type": "string"
                  }
                }
              }
            }
          },
          "effective_roles": {
            "description": "Roles active in the current token",
            "type": "array",
            "items": {
              "description": "Full role strings from the current token",
              "examples": [
                "partner:admin:550e8400-e29b-41d4-a716-446655440000"
              ],
              "type": "string"
            }
          },
          "permissions": {
            "description": "Effective permissions. Contains [\"*\"] for wildcard access (global admin). Console should check: permissions.includes(\"*\") || permissions.includes(required)",
            "type": "array",
            "items": {
              "description": "Effective permission strings for the current context",
              "examples": [
                "merchants:list"
              ],
              "type": "string"
            }
          }
        }
      },
      "authMe_Response": {
        "title": "Auth Me Response",
        "description": "Response from GET /auth/me with identity, context, and permissions",
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "description": "Indicates if the request was successful",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "data": {
            "title": "Auth Me Data",
            "description": "Current user identity, context, available contexts, and effective permissions",
            "additionalProperties": false,
            "type": "object",
            "required": [
              "subject_type",
              "id",
              "current_context",
              "available_contexts",
              "effective_roles",
              "permissions"
            ],
            "properties": {
              "subject_type": {
                "description": "Type of authenticated subject",
                "examples": [
                  "user"
                ],
                "anyOf": [
                  {
                    "const": "user",
                    "type": "string"
                  },
                  {
                    "const": "client",
                    "type": "string"
                  }
                ]
              },
              "id": {
                "format": "uuid",
                "description": "Subject ID (user ID or client entity ID)",
                "examples": [
                  "550e8400-e29b-41d4-a716-446655440000"
                ],
                "type": "string"
              },
              "email": {
                "format": "email",
                "description": "User email address (present for user subjects)",
                "examples": [
                  "user@example.com"
                ],
                "type": "string"
              },
              "first_name": {
                "description": "First name of the user",
                "examples": [
                  "John"
                ],
                "type": "string"
              },
              "last_name": {
                "description": "Last name of the user",
                "examples": [
                  "Doe"
                ],
                "type": "string"
              },
              "current_context": {
                "description": "Current operating context. Null when the user has no roles.",
                "anyOf": [
                  {
                    "title": "Auth Me Context",
                    "description": "Current operating context of the token",
                    "additionalProperties": false,
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "description": "Context scope type",
                        "examples": [
                          "partner"
                        ],
                        "anyOf": [
                          {
                            "const": "global",
                            "type": "string"
                          },
                          {
                            "const": "partner",
                            "type": "string"
                          },
                          {
                            "const": "merchant",
                            "type": "string"
                          }
                        ]
                      },
                      "id": {
                        "format": "uuid",
                        "description": "Scope entity ID (absent for global context)",
                        "examples": [
                          "550e8400-e29b-41d4-a716-446655440000"
                        ],
                        "type": "string"
                      },
                      "name": {
                        "description": "Scope entity display name (absent for global context)",
                        "examples": [
                          "Acme Corp"
                        ],
                        "type": "string"
                      },
                      "branding": {
                        "title": "Branding Info",
                        "additionalProperties": false,
                        "type": "object",
                        "required": [
                          "logo_url",
                          "icon_url",
                          "primary_color",
                          "secondary_color"
                        ],
                        "properties": {
                          "logo_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "icon_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "primary_color": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "secondary_color": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "available_contexts": {
                "description": "All contexts the user can switch to",
                "type": "array",
                "items": {
                  "title": "Auth Me Available Context",
                  "description": "A context the user can switch to, with their roles in that scope",
                  "additionalProperties": false,
                  "type": "object",
                  "required": [
                    "type",
                    "roles"
                  ],
                  "properties": {
                    "type": {
                      "description": "Context scope type",
                      "examples": [
                        "partner"
                      ],
                      "anyOf": [
                        {
                          "const": "global",
                          "type": "string"
                        },
                        {
                          "const": "partner",
                          "type": "string"
                        },
                        {
                          "const": "merchant",
                          "type": "string"
                        }
                      ]
                    },
                    "id": {
                      "format": "uuid",
                      "description": "Scope entity ID (absent for global context)",
                      "examples": [
                        "550e8400-e29b-41d4-a716-446655440000"
                      ],
                      "type": "string"
                    },
                    "name": {
                      "description": "Scope entity display name (absent for global context)",
                      "examples": [
                        "Acme Corp"
                      ],
                      "type": "string"
                    },
                    "roles": {
                      "description": "All roles the user has in this context",
                      "type": "array",
                      "items": {
                        "description": "Role name (without scope prefix)",
                        "examples": [
                          "admin"
                        ],
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "effective_roles": {
                "description": "Roles active in the current token",
                "type": "array",
                "items": {
                  "description": "Full role strings from the current token",
                  "examples": [
                    "partner:admin:550e8400-e29b-41d4-a716-446655440000"
                  ],
                  "type": "string"
                }
              },
              "permissions": {
                "description": "Effective permissions. Contains [\"*\"] for wildcard access (global admin). Console should check: permissions.includes(\"*\") || permissions.includes(required)",
                "type": "array",
                "items": {
                  "description": "Effective permission strings for the current context",
                  "examples": [
                    "merchants:list"
                  ],
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "merchant_Merchant": {
        "title": "Merchant",
        "description": "Merchant information",
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "brand_name",
          "uri",
          "category_code",
          "activation_status",
          "mode",
          "multi_account_setting",
          "refund_retention_rate",
          "client_id",
          "has_client_secret"
        ],
        "properties": {
          "id": {
            "format": "uuid",
            "description": "The unique identifier of the merchant",
            "examples": [
              "123e4567-e89b-12d3-a456-426614174001"
            ],
            "type": "string"
          },
          "brand_name": {
            "description": "The brand name of the merchant",
            "examples": [
              "Example Brand"
            ],
            "type": "string"
          },
          "uri": {
            "format": "uri",
            "description": "The URI of the merchant's website",
            "examples": [
              "https://example-merchant.com"
            ],
            "type": "string"
          },
          "category_code": {
            "description": "The merchant category code",
            "examples": [
              "4816"
            ],
            "type": "string"
          },
          "activation_status": {
            "description": "The activation status of the merchant",
            "examples": [
              "active"
            ],
            "anyOf": [
              {
                "const": "active",
                "type": "string"
              },
              {
                "const": "inactive",
                "type": "string"
              }
            ]
          },
          "mode": {
            "description": "The mode of the merchant",
            "examples": [
              "live"
            ],
            "anyOf": [
              {
                "const": "sandbox",
                "type": "string"
              },
              {
                "const": "live",
                "type": "string"
              }
            ]
          },
          "country": {
            "pattern": "^[A-Za-z]{2}$",
            "minLength": 2,
            "maxLength": 2,
            "description": "The country of the merchant",
            "examples": [
              "GB",
              "US",
              "FR",
              "DE"
            ],
            "type": "string"
          },
          "settlement_currency": {
            "description": "The merchant's effective billing/settlement currency, derived from their settlement bank account (with a country fallback). Null when it can't be resolved. Populated by GET /merchants/:id only; absent from list responses.",
            "examples": [
              "EUR",
              "GBP"
            ],
            "anyOf": [
              {
                "minLength": 3,
                "maxLength": 3,
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "multi_account_setting": {
            "description": "The multi-account setting of the merchant",
            "examples": [
              true,
              false
            ],
            "type": "boolean"
          },
          "refund_retention_rate": {
            "description": "The proportion of settled funds retained to cover potential refunds. Null means the global default is used.",
            "anyOf": [
              {
                "description": "The refund retention rate as a decimal (e.g. \"0.0500\" for 5%)",
                "examples": [
                  "0.0500"
                ],
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "client_id": {
            "description": "The client ID of the merchant",
            "examples": [
              "merchant_123"
            ],
            "type": "string"
          },
          "has_client_secret": {
            "description": "Whether a client secret is set for this merchant",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "account_owners": {
            "description": "The account owners associated with this merchant",
            "examples": [
              []
            ],
            "type": "array",
            "items": {
              "title": "Merchant Account Owner",
              "description": "Information about a merchant account owner",
              "additionalProperties": false,
              "type": "object",
              "required": [
                "id",
                "full_name",
                "email",
                "is_primary",
                "created_at",
                "updated_at"
              ],
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The unique identifier of the account owner",
                  "examples": [
                    "123e4567-e89b-12d3-a456-426614174002"
                  ],
                  "type": "string"
                },
                "full_name": {
                  "description": "The full name of the account owner",
                  "examples": [
                    "John Doe"
                  ],
                  "maxLength": 255,
                  "type": "string"
                },
                "email": {
                  "format": "email",
                  "description": "The email address of the account owner",
                  "examples": [
                    "john.doe@example.com"
                  ],
                  "maxLength": 255,
                  "type": "string"
                },
                "phone_number": {
                  "description": "The phone number in format: country_code;number (e.g., 44;7395236209)",
                  "examples": [
                    "44;7395236209"
                  ],
                  "pattern": "^[0-9]{1,4};[0-9]{6,15}$",
                  "type": "string"
                },
                "role": {
                  "description": "The role of the account owner within the organization",
                  "examples": [
                    "Owner",
                    "Director",
                    "Manager"
                  ],
                  "maxLength": 100,
                  "type": "string"
                },
                "is_primary": {
                  "description": "Whether this account owner is the primary contact",
                  "examples": [
                    true,
                    false
                  ],
                  "type": "boolean"
                },
                "created_at": {
                  "format": "date-time",
                  "description": "The timestamp when the account owner was created",
                  "examples": [
                    "2024-01-01T00:00:00Z"
                  ],
                  "type": "string"
                },
                "updated_at": {
                  "format": "date-time",
                  "description": "The timestamp when the account owner was last updated",
                  "examples": [
                    "2024-01-01T00:00:00Z"
                  ],
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "merchant_Input": {
        "title": "Merchant Input",
        "description": "Merchant creation input",
        "additionalProperties": false,
        "type": "object",
        "required": [
          "brand_name",
          "uri",
          "category_code"
        ],
        "properties": {
          "partner_id": {
            "format": "uuid",
            "description": "Partner ID. Defaults to the logged-in partner if not provided. Required for admin tokens.",
            "examples": [
              "550e8400-e29b-41d4-a716-446655440000"
            ],
            "type": "string"
          },
          "brand_name": {
            "description": "The brand name of the merchant",
            "examples": [
              "Example Brand"
            ],
            "type": "string"
          },
          "uri": {
            "description": "The URI of the merchant's website (protocol optional, will be normalized)",
            "examples": [
              "example-merchant.com",
              "https://example-merchant.com"
            ],
            "type": "string"
          },
          "category_code": {
            "description": "The merchant category code",
            "examples": [
              "4816"
            ],
            "type": "string"
          },
          "country": {
            "pattern": "^[A-Za-z]{2}$",
            "minLength": 2,
            "maxLength": 2,
            "description": "The country of the merchant",
            "examples": [
              "GB",
              "US",
              "FR",
              "DE"
            ],
            "type": "string"
          },
          "account_owner": {
            "title": "Merchant Account Owner Input",
            "description": "Input data for creating a merchant account owner",
            "additionalProperties": false,
            "type": "object",
            "required": [
              "full_name",
              "email"
            ],
            "properties": {
              "full_name": {
                "description": "The full name of the account owner",
                "examples": [
                  "John Doe"
                ],
                "maxLength": 255,
                "type": "string"
              },
              "email": {
                "format": "email",
                "description": "The email address of the account owner",
                "examples": [
                  "john.doe@example.com"
                ],
                "maxLength": 255,
                "type": "string"
              },
              "phone_number": {
                "description": "The phone number in format: country_code;number (e.g., 44;7395236209)",
                "examples": [
                  "44;7395236209"
                ],
                "pattern": "^[0-9]{1,4};[0-9]{6,15}$",
                "type": "string"
              },
              "role": {
                "description": "The role of the account owner within the organization",
                "examples": [
                  "Owner",
                  "Director",
                  "Manager"
                ],
                "maxLength": 100,
                "type": "string"
              }
            }
          }
        }
      },
      "merchant_Update": {
        "title": "Merchant Update",
        "description": "Merchant update input",
        "additionalProperties": false,
        "type": "object",
        "properties": {
          "brand_name": {
            "description": "The updated brand name of the merchant",
            "examples": [
              "Updated Example Brand"
            ],
            "type": "string"
          },
          "uri": {
            "description": "The updated URI of the merchant's website (protocol optional, will be normalized)",
            "examples": [
              "updated-example-merchant.com",
              "https://updated-example-merchant.com"
            ],
            "type": "string"
          },
          "category_code": {
            "description": "The updated merchant category code",
            "examples": [
              "4816"
            ],
            "type": "string"
          },
          "country": {
            "pattern": "^[A-Za-z]{2}$",
            "minLength": 2,
            "maxLength": 2,
            "description": "The country of the merchant",
            "examples": [
              "GB",
              "US",
              "FR",
              "DE"
            ],
            "type": "string"
          }
        }
      },
      "merchant_ActivationStatusUpdate": {
        "title": "Merchant Activation Status Update",
        "description": "Merchant activation status update input",
        "additionalProperties": false,
        "type": "object",
        "required": [
          "activation_status"
        ],
        "properties": {
          "activation_status": {
            "description": "The new activation status for the merchant",
            "examples": [
              "active"
            ],
            "anyOf": [
              {
                "const": "active",
                "type": "string"
              },
              {
                "const": "inactive",
                "type": "string"
              }
            ]
          }
        }
      },
      "merchant_ModeUpdate": {
        "title": "Merchant Mode Update",
        "description": "Merchant mode update input",
        "additionalProperties": false,
        "type": "object",
        "required": [
          "mode"
        ],
        "properties": {
          "mode": {
            "description": "The new mode for the merchant",
            "examples": [
              "live"
            ],
            "anyOf": [
              {
                "const": "sandbox",
                "type": "string"
              },
              {
                "const": "live",
                "type": "string"
              }
            ]
          }
        }
      },
      "merchant_Response": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "description": "Indicates if the request was successful",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "data": {
            "title": "Merchant",
            "description": "Merchant information",
            "additionalProperties": false,
            "type": "object",
            "required": [
              "id",
              "brand_name",
              "uri",
              "category_code",
              "activation_status",
              "mode",
              "multi_account_setting",
              "refund_retention_rate",
              "client_id",
              "has_client_secret"
            ],
            "properties": {
              "id": {
                "format": "uuid",
                "description": "The unique identifier of the merchant",
                "examples": [
                  "123e4567-e89b-12d3-a456-426614174001"
                ],
                "type": "string"
              },
              "brand_name": {
                "description": "The brand name of the merchant",
                "examples": [
                  "Example Brand"
                ],
                "type": "string"
              },
              "uri": {
                "format": "uri",
                "description": "The URI of the merchant's website",
                "examples": [
                  "https://example-merchant.com"
                ],
                "type": "string"
              },
              "category_code": {
                "description": "The merchant category code",
                "examples": [
                  "4816"
                ],
                "type": "string"
              },
              "activation_status": {
                "description": "The activation status of the merchant",
                "examples": [
                  "active"
                ],
                "anyOf": [
                  {
                    "const": "active",
                    "type": "string"
                  },
                  {
                    "const": "inactive",
                    "type": "string"
                  }
                ]
              },
              "mode": {
                "description": "The mode of the merchant",
                "examples": [
                  "live"
                ],
                "anyOf": [
                  {
                    "const": "sandbox",
                    "type": "string"
                  },
                  {
                    "const": "live",
                    "type": "string"
                  }
                ]
              },
              "country": {
                "pattern": "^[A-Za-z]{2}$",
                "minLength": 2,
                "maxLength": 2,
                "description": "The country of the merchant",
                "examples": [
                  "GB",
                  "US",
                  "FR",
                  "DE"
                ],
                "type": "string"
              },
              "settlement_currency": {
                "description": "The merchant's effective billing/settlement currency, derived from their settlement bank account (with a country fallback). Null when it can't be resolved. Populated by GET /merchants/:id only; absent from list responses.",
                "examples": [
                  "EUR",
                  "GBP"
                ],
                "anyOf": [
                  {
                    "minLength": 3,
                    "maxLength": 3,
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "multi_account_setting": {
                "description": "The multi-account setting of the merchant",
                "examples": [
                  true,
                  false
                ],
                "type": "boolean"
              },
              "refund_retention_rate": {
                "description": "The proportion of settled funds retained to cover potential refunds. Null means the global default is used.",
                "anyOf": [
                  {
                    "description": "The refund retention rate as a decimal (e.g. \"0.0500\" for 5%)",
                    "examples": [
                      "0.0500"
                    ],
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "client_id": {
                "description": "The client ID of the merchant",
                "examples": [
                  "merchant_123"
                ],
                "type": "string"
              },
              "has_client_secret": {
                "description": "Whether a client secret is set for this merchant",
                "examples": [
                  true
                ],
                "type": "boolean"
              },
              "account_owners": {
                "description": "The account owners associated with this merchant",
                "examples": [
                  []
                ],
                "type": "array",
                "items": {
                  "title": "Merchant Account Owner",
                  "description": "Information about a merchant account owner",
                  "additionalProperties": false,
                  "type": "object",
                  "required": [
                    "id",
                    "full_name",
                    "email",
                    "is_primary",
                    "created_at",
                    "updated_at"
                  ],
                  "properties": {
                    "id": {
                      "format": "uuid",
                      "description": "The unique identifier of the account owner",
                      "examples": [
                        "123e4567-e89b-12d3-a456-426614174002"
                      ],
                      "type": "string"
                    },
                    "full_name": {
                      "description": "The full name of the account owner",
                      "examples": [
                        "John Doe"
                      ],
                      "maxLength": 255,
                      "type": "string"
                    },
                    "email": {
                      "format": "email",
                      "description": "The email address of the account owner",
                      "examples": [
                        "john.doe@example.com"
                      ],
                      "maxLength": 255,
                      "type": "string"
                    },
                    "phone_number": {
                      "description": "The phone number in format: country_code;number (e.g., 44;7395236209)",
                      "examples": [
                        "44;7395236209"
                      ],
                      "pattern": "^[0-9]{1,4};[0-9]{6,15}$",
                      "type": "string"
                    },
                    "role": {
                      "description": "The role of the account owner within the organization",
                      "examples": [
                        "Owner",
                        "Director",
                        "Manager"
                      ],
                      "maxLength": 100,
                      "type": "string"
                    },
                    "is_primary": {
                      "description": "Whether this account owner is the primary contact",
                      "examples": [
                        true,
                        false
                      ],
                      "type": "boolean"
                    },
                    "created_at": {
                      "format": "date-time",
                      "description": "The timestamp when the account owner was created",
                      "examples": [
                        "2024-01-01T00:00:00Z"
                      ],
                      "type": "string"
                    },
                    "updated_at": {
                      "format": "date-time",
                      "description": "The timestamp when the account owner was last updated",
                      "examples": [
                        "2024-01-01T00:00:00Z"
                      ],
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "merchant_ListResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "description": "Indicates if the request was successful",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "title": "Merchant",
              "description": "Merchant information",
              "additionalProperties": false,
              "type": "object",
              "required": [
                "id",
                "brand_name",
                "uri",
                "category_code",
                "activation_status",
                "mode",
                "multi_account_setting",
                "refund_retention_rate",
                "client_id",
                "has_client_secret"
              ],
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The unique identifier of the merchant",
                  "examples": [
                    "123e4567-e89b-12d3-a456-426614174001"
                  ],
                  "type": "string"
                },
                "brand_name": {
                  "description": "The brand name of the merchant",
                  "examples": [
                    "Example Brand"
                  ],
                  "type": "string"
                },
                "uri": {
                  "format": "uri",
                  "description": "The URI of the merchant's website",
                  "examples": [
                    "https://example-merchant.com"
                  ],
                  "type": "string"
                },
                "category_code": {
                  "description": "The merchant category code",
                  "examples": [
                    "4816"
                  ],
                  "type": "string"
                },
                "activation_status": {
                  "description": "The activation status of the merchant",
                  "examples": [
                    "active"
                  ],
                  "anyOf": [
                    {
                      "const": "active",
                      "type": "string"
                    },
                    {
                      "const": "inactive",
                      "type": "string"
                    }
                  ]
                },
                "mode": {
                  "description": "The mode of the merchant",
                  "examples": [
                    "live"
                  ],
                  "anyOf": [
                    {
                      "const": "sandbox",
                      "type": "string"
                    },
                    {
                      "const": "live",
                      "type": "string"
                    }
                  ]
                },
                "country": {
                  "pattern": "^[A-Za-z]{2}$",
                  "minLength": 2,
                  "maxLength": 2,
                  "description": "The country of the merchant",
                  "examples": [
                    "GB",
                    "US",
                    "FR",
                    "DE"
                  ],
                  "type": "string"
                },
                "settlement_currency": {
                  "description": "The merchant's effective billing/settlement currency, derived from their settlement bank account (with a country fallback). Null when it can't be resolved. Populated by GET /merchants/:id only; absent from list responses.",
                  "examples": [
                    "EUR",
                    "GBP"
                  ],
                  "anyOf": [
                    {
                      "minLength": 3,
                      "maxLength": 3,
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "multi_account_setting": {
                  "description": "The multi-account setting of the merchant",
                  "examples": [
                    true,
                    false
                  ],
                  "type": "boolean"
                },
                "refund_retention_rate": {
                  "description": "The proportion of settled funds retained to cover potential refunds. Null means the global default is used.",
                  "anyOf": [
                    {
                      "description": "The refund retention rate as a decimal (e.g. \"0.0500\" for 5%)",
                      "examples": [
                        "0.0500"
                      ],
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "client_id": {
                  "description": "The client ID of the merchant",
                  "examples": [
                    "merchant_123"
                  ],
                  "type": "string"
                },
                "has_client_secret": {
                  "description": "Whether a client secret is set for this merchant",
                  "examples": [
                    true
                  ],
                  "type": "boolean"
                },
                "account_owners": {
                  "description": "The account owners associated with this merchant",
                  "examples": [
                    []
                  ],
                  "type": "array",
                  "items": {
                    "title": "Merchant Account Owner",
                    "description": "Information about a merchant account owner",
                    "additionalProperties": false,
                    "type": "object",
                    "required": [
                      "id",
                      "full_name",
                      "email",
                      "is_primary",
                      "created_at",
                      "updated_at"
                    ],
                    "properties": {
                      "id": {
                        "format": "uuid",
                        "description": "The unique identifier of the account owner",
                        "examples": [
                          "123e4567-e89b-12d3-a456-426614174002"
                        ],
                        "type": "string"
                      },
                      "full_name": {
                        "description": "The full name of the account owner",
                        "examples": [
                          "John Doe"
                        ],
                        "maxLength": 255,
                        "type": "string"
                      },
                      "email": {
                        "format": "email",
                        "description": "The email address of the account owner",
                        "examples": [
                          "john.doe@example.com"
                        ],
                        "maxLength": 255,
                        "type": "string"
                      },
                      "phone_number": {
                        "description": "The phone number in format: country_code;number (e.g., 44;7395236209)",
                        "examples": [
                          "44;7395236209"
                        ],
                        "pattern": "^[0-9]{1,4};[0-9]{6,15}$",
                        "type": "string"
                      },
                      "role": {
                        "description": "The role of the account owner within the organization",
                        "examples": [
                          "Owner",
                          "Director",
                          "Manager"
                        ],
                        "maxLength": 100,
                        "type": "string"
                      },
                      "is_primary": {
                        "description": "Whether this account owner is the primary contact",
                        "examples": [
                          true,
                          false
                        ],
                        "type": "boolean"
                      },
                      "created_at": {
                        "format": "date-time",
                        "description": "The timestamp when the account owner was created",
                        "examples": [
                          "2024-01-01T00:00:00Z"
                        ],
                        "type": "string"
                      },
                      "updated_at": {
                        "format": "date-time",
                        "description": "The timestamp when the account owner was last updated",
                        "examples": [
                          "2024-01-01T00:00:00Z"
                        ],
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "merchant_GenerateClientSecretResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "description": "Indicates if the request was successful",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "data": {
            "additionalProperties": false,
            "type": "object",
            "required": [
              "client_secret"
            ],
            "properties": {
              "client_secret": {
                "description": "The newly generated client secret",
                "examples": [
                  "secret_123abc"
                ],
                "type": "string"
              }
            }
          }
        }
      },
      "merchant_RevokeClientSecretResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "description": "Indicates if the request was successful",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "data": {
            "additionalProperties": false,
            "type": "object",
            "required": [
              "message"
            ],
            "properties": {
              "message": {
                "description": "A message confirming the client secret was revoked",
                "examples": [
                  "Client secret successfully revoked"
                ],
                "type": "string"
              }
            }
          }
        }
      },
      "merchantBankAccount_PaymentSchemeInfo": {
        "title": "Payment Scheme Info",
        "description": "Payment scheme information for merchant bank account responses",
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "type",
          "name",
          "is_active",
          "additional_payment_method"
        ],
        "properties": {
          "id": {
            "format": "uuid",
            "description": "The unique identifier of the payment scheme",
            "type": "string"
          },
          "type": {
            "title": "Payment Scheme Type",
            "description": "The type of payment scheme",
            "examples": [
              "SEPA_CREDIT_TRANSFER",
              "MULTIBANCO",
              "FASTER_PAYMENTS",
              "DANISH_DOMESTIC_CREDIT_TRANSFER",
              "BECS",
              "ACH"
            ],
            "anyOf": [
              {
                "const": "SEPA_CREDIT_TRANSFER",
                "type": "string"
              },
              {
                "const": "MULTIBANCO",
                "type": "string"
              },
              {
                "const": "DANISH_DOMESTIC_CREDIT_TRANSFER",
                "type": "string"
              },
              {
                "const": "FASTER_PAYMENTS",
                "type": "string"
              },
              {
                "const": "BACS",
                "type": "string"
              },
              {
                "const": "BECS",
                "type": "string"
              },
              {
                "const": "ACH",
                "type": "string"
              }
            ]
          },
          "name": {
            "description": "Human-readable name of the payment scheme",
            "examples": [
              "SEPA Credit Transfer",
              "Multibanco"
            ],
            "type": "string"
          },
          "is_active": {
            "description": "Whether this account actively receives payments for this scheme",
            "type": "boolean"
          },
          "additional_payment_method": {
            "description": "Whether this scheme appears as a separate payment option in UI",
            "type": "boolean"
          }
        }
      },
      "merchantBankAccount_Account": {
        "title": "Merchant Bank Account",
        "description": "Merchant bank account information",
        "additionalProperties": false,
        "type": "object",
        "properties": {
          "id": {
            "format": "uuid",
            "description": "The unique identifier of the bank account",
            "examples": [
              "123e4567-e89b-12d3-a456-426614174001"
            ],
            "type": "string"
          },
          "account_number": {
            "description": "The account number or IBAN of the bank account",
            "examples": [
              "11223344"
            ],
            "type": "string"
          },
          "currency": {
            "pattern": "^[A-Za-z]{3}$",
            "minLength": 3,
            "maxLength": 3,
            "description": "The currency of the bank account",
            "examples": [
              "GBP",
              "USD",
              "EUR",
              "JPY"
            ],
            "type": "string"
          },
          "country": {
            "pattern": "^[A-Za-z]{2}$",
            "minLength": 2,
            "maxLength": 2,
            "description": "The country of the bank account",
            "examples": [
              "GB",
              "US",
              "FR",
              "DE"
            ],
            "type": "string"
          },
          "status": {
            "description": "The status of the bank account",
            "examples": [
              "active"
            ],
            "anyOf": [
              {
                "const": "active",
                "type": "string"
              },
              {
                "const": "archived",
                "type": "string"
              }
            ]
          },
          "account_information_session_id": {
            "format": "uuid",
            "description": "The account information session ID that created this bank account when linked via provider flow",
            "type": "string"
          },
          "created_at": {
            "format": "date-time",
            "description": "The creation date of the bank account",
            "examples": [
              "2024-03-19T12:00:00Z"
            ],
            "type": "string"
          },
          "updated_at": {
            "format": "date-time",
            "description": "The last update date of the bank account",
            "examples": [
              "2024-03-19T12:00:00Z"
            ],
            "type": "string"
          },
          "iban": {
            "description": "The IBAN of the bank account (for EU market)",
            "examples": [
              "DE89370400440532013000"
            ],
            "type": "string"
          },
          "bic": {
            "description": "The BIC of the bank account (for EU market)",
            "examples": [
              "MARKDEF1100"
            ],
            "type": "string"
          },
          "sort_code": {
            "description": "The sort code of the bank account (for UK market)",
            "examples": [
              "123456"
            ],
            "type": "string"
          },
          "routing_number": {
            "description": "The routing number of the bank account (for US market)",
            "examples": [
              "123456789"
            ],
            "type": "string"
          },
          "bban": {
            "description": "Basic Bank Account Number (e.g., for Norway)",
            "examples": [
              "86011117947"
            ],
            "type": "string"
          },
          "plusgiro_number": {
            "description": "PlusGiro number (for Sweden)",
            "examples": [
              "41054685"
            ],
            "type": "string"
          },
          "bsb": {
            "description": "Bank State Branch code (for Australia)",
            "examples": [
              "062-000"
            ],
            "type": "string"
          },
          "account_holder_name": {
            "description": "Name of the account holder",
            "examples": [
              "John Smith",
              "Acme Corporation Ltd"
            ],
            "type": "string"
          },
          "supported_payment_schemes": {
            "description": "Payment schemes this account supports",
            "type": "array",
            "items": {
              "title": "Payment Scheme Info",
              "description": "Payment scheme information for merchant bank account responses",
              "additionalProperties": false,
              "type": "object",
              "required": [
                "id",
                "type",
                "name",
                "is_active",
                "additional_payment_method"
              ],
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The unique identifier of the payment scheme",
                  "type": "string"
                },
                "type": {
                  "title": "Payment Scheme Type",
                  "description": "The type of payment scheme",
                  "examples": [
                    "SEPA_CREDIT_TRANSFER",
                    "MULTIBANCO",
                    "FASTER_PAYMENTS",
                    "DANISH_DOMESTIC_CREDIT_TRANSFER",
                    "BECS",
                    "ACH"
                  ],
                  "anyOf": [
                    {
                      "const": "SEPA_CREDIT_TRANSFER",
                      "type": "string"
[...]
